/******HEADER DEFINITION******/
.header {
    font-family: 'Raleway', sans-serif;
}

/******LINK DEFINITION*******/
a:link {
    color: #2658a8;
    text-decoration: none;
}
a:visited {
    color: #2658a8;
}
a:hover {
    color: #4081e8;
}

/*******IMAGE DEFINITION******/
.jumbotron {
  background-image: url(images/austin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-

  color: white;
  text-align: right;
}
